:root {
  --color-mode: 'light';

  --background: var(--grayLight-mainBg);
  --element-background: var(--grayLight-2);
  --element-dark-background: var(--grayLight-2);

  --border-default: var(--grayLight-7);
  --border-darker: var(--grayLight-8);

  --text-default: var(--grayLight-12);
  --text-inverse: var(--grayLight-1);
  --text-white: var(--grayLight-1);
  --text-black: var(--grayLight-12);
  --text-light: var(--grayLight-11);
  --text-lighter: var(--grayLight-10);
  --text-apricot: var(--brand-apricot-11);
  --text-casal: var(--brand-casal-7);

  --text-teal: var(--tealLight-12);
  --text-indigo: var(--indigoLight-12);
  --text-plum: var(--plumLight-12);
  --text-crimson: var(--crimsonLight-12);
  --text-brown: var(--brownLight-12);
  --text-yellow: var(--yellowLight-12);
  --text-red: var(--redLight-12);

  --text-light-teal: var(--tealLight-11);
  --text-light-indigo: var(--indigoLight-11);
  --text-light-plum: var(--plumLight-11);
  --text-light-crimson: var(--crimsonLight-11);
  --text-light-brown: var(--brownLight-11);
  --text-light-yellow: var(--yellowLight-11);
  --text-light-red: var(--redLight-11);

  --background-teal: var(--tealLight-3);
  --background-indigo: var(--indigoLight-3);
  --background-plum: var(--plumLight-3);
  --background-crimson: var(--crimsonLight-3);
  --background-brown: var(--brownLight-3);
  --background-yellow: var(--yellowLight-3);
  --background-red: var(--redLight-3);

  --text-intro-marquee-dark: var(--grayLight-1);
  --text-intro-marquee-light: var(--grayDark-3);

  --logo-apricot: var(--brand-apricot-6);
  --logo-casal: var(--brand-casal-7);

  --button-apricot: var(--brand-apricot-9);
  --button-casal: var(--brand-casal-7);
  --button-pharlap: var(--brand-pharlap-7);
  --button-neutral: var(--grayLight-2);

  --button-text-apricot: var(--grayLight-1);
  --button-text-casal: var(--grayLight-1);
  --button-text-pharlap: var(--grayLight-1);
  --button-text-neutral: var(--grayLight-12);

  --footer-background: var(--brand-pharlap-2);
  --footer-border: var(--brand-pharlap-3);

  --size-step--2: clamp(0.6331rem, 0.6424rem + -0.012vw, 0.64rem);
  --size-step--1: clamp(0.8rem, 0.7848rem + 0.0761vw, 0.8438rem);
  --size-step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --size-step-1: clamp(1.25rem, 1.1633rem + 0.4337vw, 1.4994rem);
  --size-step-2: clamp(1.5625rem, 1.4108rem + 0.7587vw, 1.9988rem);
  --size-step-3: clamp(1.9531rem, 1.7057rem + 1.237vw, 2.6644rem);
  --size-step-4: clamp(2.4413rem, 2.0549rem + 1.9315vw, 3.5519rem);
  --size-step-5: clamp(3.0519rem, 2.4664rem + 2.9272vw, 4.735rem);

  --shadow-color: 240deg 1% 58%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }

  :root:not([data-user-color-scheme]) {
    --background: var(--grayDark-1);
    --element-background: var(--grayDark-3);
    --element-dark-background: var(--grayDark-2);

    --border-default: var(--grayDark-7);
    --border-darker: var(--grayDark-8);

    --text-default: var(--grayDark-12);
    --text-inverse: var(--grayDark-1);
    --text-white: var(--grayDark-12);
    --text-black: var(--grayDark-1);
    --text-light: var(--grayDark-11);
    --text-lighter: var(--grayDark-10);
    --text-apricot: var(--brand-apricot-6);
    --text-casal: var(--brand-casal-5);

    --text-teal: var(--tealDark-12);
    --text-indigo: var(--indigoDark-12);
    --text-plum: var(--plumDark-12);
    --text-crimson: var(--crimsonDark-12);
    --text-brown: var(--brownDark-12);
    --text-yellow: var(--yellowDark-12);
    --text-red: var(--redDark-12);

    --text-light-teal: var(--tealDark-11);
    --text-light-indigo: var(--indigoDark-11);
    --text-light-plum: var(--plumDark-11);
    --text-light-crimson: var(--crimsonDark-11);
    --text-light-brown: var(--brownDark-11);
    --text-light-yellow: var(--yellowDark-11);
    --text-light-red: var(--redDark-11);

    --background-teal: var(--tealDark-3);
    --background-indigo: var(--indigoDark-3);
    --background-plum: var(--plumDark-3);
    --background-crimson: var(--crimsonDark-3);
    --background-brown: var(--brownDark-3);
    --background-yellow: var(--yellowDark-3);
    --background-red: var(--redDark-3);

    --logo-apricot: var(--brand-apricot-8);
    --logo-casal: var(--brand-casal-7);

    --button-apricot: var(--brand-apricot-6);
    --button-casal: var(--brand-casal-7);
    --button-pharlap: var(--brand-pharlap-6);
    --button-neutral: var(--grayDark-3);

    --button-text-apricot: var(--grayDark-1);
    --button-text-casal: var(--grayDark-12);
    --button-text-pharlap: var(--grayDark-1);
    --button-text-neutral: var(--grayDark-12);

    --footer-background: var(--element-background);
    --footer-border: var(--border-default);

    --shadow-color: unset;
    --shadow-elevation-low: unset;
    --shadow-elevation-medium: unset;
    --shadow-elevation-high: unset;
  }
}

[data-user-color-scheme='dark'] {
  --background: var(--grayDark-1);
  --element-background: var(--grayDark-3);
  --element-dark-background: var(--grayDark-2);

  --border-default: var(--grayDark-7);
  --border-darker: var(--grayDark-8);

  --text-default: var(--grayDark-12);
  --text-inverse: var(--grayDark-1);
  --text-white: var(--grayDark-12);
  --text-black: var(--grayDark-1);
  --text-light: var(--grayDark-11);
  --text-lighter: var(--grayDark-10);
  --text-apricot: var(--brand-apricot-6);
  --text-casal: var(--brand-casal-5);

  --text-teal: var(--tealDark-12);
  --text-indigo: var(--indigoDark-12);
  --text-plum: var(--plumDark-12);
  --text-crimson: var(--crimsonDark-12);
  --text-brown: var(--brownDark-12);
  --text-yellow: var(--yellowDark-12);

  --text-light-teal: var(--tealDark-11);
  --text-light-indigo: var(--indigoDark-11);
  --text-light-plum: var(--plumDark-11);
  --text-light-crimson: var(--crimsonDark-11);
  --text-light-brown: var(--brownDark-11);
  --text-light-yellow: var(--yellowDark-11);

  --background-teal: var(--tealDark-3);
  --background-indigo: var(--indigoDark-3);
  --background-plum: var(--plumDark-3);
  --background-crimson: var(--crimsonDark-3);
  --background-brown: var(--brownDark-3);
  --background-yellow: var(--yellowDark-3);

  --logo-apricot: var(--brand-apricot-8);
  --logo-casal: var(--brand-casal-7);

  --button-apricot: var(--brand-apricot-6);
  --button-casal: var(--brand-casal-7);
  --button-pharlap: var(--brand-pharlap-6);
  --button-neutral: var(--grayDark-3);

  --button-text-apricot: var(--grayDark-1);
  --button-text-casal: var(--grayDark-12);
  --button-text-pharlap: var(--grayDark-1);
  --button-text-neutral: var(--grayDark-12);

  --footer-background: var(--element-background);
  --footer-border: var(--border-default);

  --shadow-color: unset;
  --shadow-elevation-low: unset;
  --shadow-elevation-medium: unset;
  --shadow-elevation-high: unset;
}

@font-face {
  font-family: 'Halver Sans';
  src:
    url('/fonts/HalverSans.woff2') format('woff2 supports variations'),
    url('/fonts/HalverSans.woff2') format('woff2-variations');
  font-weight: 100 900;
}

body {
  background: var(--background);
  font-size: var(--size-step-0);
  color: var(--text-default);
  font-weight: 500;
  font-family: 'Halver Sans', system-ui, sans-serif;
  font-feature-settings: 'ss02' on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  line-height: 1.1;
}

h1 {
  max-width: 20ch;
}

h2,
h3 {
  max-width: 28ch;
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.5em;
}

main,
footer {
  max-width: 65ch;
  margin-inline: auto;
}

main > * + * {
  margin-block-start: var(--flow-space, 1em);
}
