---
import Hero from '../components/Hero.astro'
import HowItWorks from '../components/HowItWorks.astro'
import Layout from '../layouts/Layout.astro'

const pageTitle = 'Halver'
---

<Layout title={pageTitle}>
  <main>
    <Hero />
    <HowItWorks />

    <Hero />
  </main>
</Layout>

<style></style>
