---

---

<header class='relative bg-[--background] xl:fixed'>
  <nav
    class='card-shadow flex flex-wrap justify-between gap-8 rounded-b-lg bg-[--element-dark-background] p-6 xl:ml-8 xl:pt-20'
  >
    <a href='/' class='mx-auto'>
      <svg
        aria-hidden
        width='118'
        height='25'
        viewBox='0 0 118 25'
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
      >
        <path
          d='M0 2h2.853v8.256c.99-1.171 2.552-1.861 4.383-1.861 3.364 0 5.676 2.221 5.676 6.544v8.676H9.939V15.3c0-2.823-1.141-4.324-3.453-4.324s-3.633 1.561-3.633 4.474v8.165H0V2Zm24.665 21.615-.24-2.191c-.931 1.5-2.312 2.372-4.624 2.372-3.213 0-5.135-1.652-5.135-4.203 0-2.522 1.892-4.293 5.495-4.684l4.264-.48v-1.171c0-1.29-1.051-2.312-3.033-2.312-1.831 0-3.183.871-3.633 2.552l-2.522-.9c.75-2.642 3.092-4.203 6.275-4.203 3.754 0 5.765 2.071 5.765 5.133v10.087h-2.612Zm-.24-6.874-4.114.51c-1.741.21-2.642 1.02-2.642 2.191 0 1.141.9 1.952 2.462 1.952 2.883 0 4.294-1.741 4.294-4.323v-.33ZM29.839 2h2.853v21.615h-2.853V2Zm7.246 6.605 4.324 11.978 4.354-11.978h3.002l-5.855 15.01h-3.063l-5.795-15.01h3.033Zm19.287 15.22c-4.324 0-7.387-3.242-7.387-7.835 0-4.383 3.033-7.595 7.207-7.595 4.203 0 7.176 2.972 7.116 7.235 0 .45-.03.96-.12 1.56h-11.11c.21 2.402 1.922 4.054 4.294 4.054 1.952 0 3.543-.84 4.144-2.162l2.462.87c-1.201 2.432-3.634 3.873-6.606 3.873Zm3.843-9.066c-.03-2.191-1.741-3.813-4.053-3.813-2.042 0-3.724 1.591-4.054 3.813h8.107Zm5.029-6.154h2.612l.18 2.011c1.262-1.561 3.213-2.462 5.285-2.011v2.672c-2.612-.66-5.224.99-5.224 4.563v7.775h-2.853V8.605Z'
          fill='var(--text-default)'
        >
        </path><path
          d='M100.156 1H84v10.852h16.156V1Zm12.718 0h-10.95v10.852h10.95V1Z'
          fill='var(--logo-apricot)'
        >
        </path><path
          d='M117.49 13.522h-15.566v10.852h15.566V13.522Zm-17.334 0h-11.54v10.852h11.54V13.522Z'
          fill='var(--logo-casal)'
        >
        </path>
      </svg>

      <span class='sr-only'>Go home</span>
    </a>

    <ul class='nav-links hidden items-center gap-4'>
      <li><a class='text-[--text-light]' href='/'>Pricing</a></li>

      <li><button class='text-[--text-light]'>Download</button></li>
    </ul>
  </nav>
</header>

<style>
  @media (min-width: 1280px) {
    .card-shadow {
      box-shadow: var(--shadow-elevation-low);
    }
  }
</style>
